.bg-body-tertiary {
  padding: 0px;
  background-color: rgba(61, 53, 42, 0.5);
  border-image-slice: 1;
}

.brand-custom {
  font-size: 1.8rem;
  height: auto;
  font-weight: 500;
  font-family: 'Arial', sans-serif;
}

.nav-link-custom {
  width: 100%;
  border-left: 2px solid #007bff;
  font-size: 1.1rem;
  font-weight: 500;
  padding-bottom: 0%;
  border-radius: 0px 0px 10px 10px;
  transition: all 0.3s ease-in-out;
}

.nav-link-custom:hover {
  background: rgba(0, 123, 255, 0.7); 
  color: #ffffff !important;
}

.container_nav {
  padding: 0;
  width: 100%;
  max-height: 65px;
}

.navb {
  width: 100%;

}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  margin-bottom: 4px;
}
